@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
  
body {
    font-family: "SUITE-Regular" !important;
}

.problemTitle {
    /* vertical-align: center; */
    border-radius: 10px;
    color: black;
    margin: 15px 30px 0px 30px;
}

.title {
    font-size: larger;
}

.title_list {
    margin: 10px;
}

.ProblemBtn {
    font-size: 17px;
}

.ProblemContainer {
    float: left;
    padding: 40px;
}

.ProblemList {
    padding: 0px;
    font-size: 15px;
}

#container_title {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.problem_container {
    margin-bottom: 20px;
}

#nav-profile {
    float: left;
    position: absolute;
    margin: 20px;
}

#nav-contact {
    float: left;
    position: absolute;
    margin: 20px;
}

.prob_container {
    width: 1000px;
}